.train-line__name {
  position: relative;
  top: -2000%; /* adjust this value as needed */
  left: 50%;
  transform: translateX(-50%);
  font-size: calc(10px + 0.5vw);
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  z-index: 1;
}

.train-line {
    position: relative;
    height: calc(0px + 0.5vw);
    width: 80%;
    margin: 13% auto 0;
    background-color: darkorange;
}
  
.circle-container {
  position: absolute;
  top: 50%;
  transform: translate(-0%, -50%);
  height: calc(1vw);
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.circle {
  height: calc(1vw);
  width: calc(1vw);
  border-radius: 50%;
  background-color: white;
  border: 3px solid darkorange;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}


.circle-text {
  position: absolute;
  top: -150%;
  left: 50%;
  right: 0%;
  text-align: center;
  transform: translate(-50%, 0) rotate(-45deg);
  font-size: calc(0.75vw);
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.train-marker {
  position: absolute;
  width: 0.75vw;
  height: 0.75vw;
  background-color: #f00;
  border: 1px solid #222222;
  border-radius: 50%;
  top: 50%;
  transform: translate(8%, -50%); /* the first value (2.5px should be the difference between the width of the .circle and the width of the .train-marker */
}