<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Rodalies de Barcelona</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    <div id="clock"></div>
    <ul>
      <li><a href="/">Line view</a></li>
      <li><a href="/alllines">Line view (detailed)</a></li>
      <li><a href="/map">Map view</a></li>
      <li><a href="/schedules">Schedule view</a></li>
    </ul>
    <div class="train-lines-container">
    </div>
    <script src="{{ url_for('static', filename='js/script_routes_all.js') }}"></script>
    <script src="{{ url_for('static', filename='js/clock.js') }}"></script>
  </body>
</html>
