<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Schedules</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    <div id="clock"></div>
    <h1>Select a schedule:</h1>
    <select id="df-select">
      {% for df in dfs %}
        <option value="{{ df.name }}">{{ df.name }}</option>
      {% endfor %}
    </select>

    <div id="df-table">
    </div>
    <script>
      var dfs = {{ dfs | tojson }};
      console.log(dfs);
    </script>
    <script src="{{ url_for('static', filename='js/script_schedules.js') }}"></script>
    <script src="{{ url_for('static', filename='js/clock.js') }}"></script>
  </body>
</html>
